.container {
    position: relative;

    .header-login {
        font-family: Inconsolata;
        font-weight: 400;
        text-align: center;
    }

    .prompt {
        font-family: Inconsolata;
        font-size: 13px;
        text-align: center;
    }
}